.main-header-cnt {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 31%;
  height: 60px;
}

.main-journey {
  padding-bottom: 5%;
}

.main-first-cnt {
  display: flex;
  max-width: 100%;
  width: 55%;
  padding-left: 3%;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.main-second-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-left: 25%;
}

.main-third-cnt {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-right: 15%;
  gap: 2rem;
  margin-top: 10px;
}

.main-fourth-cnt {
  display: flex;
  max-width: 100%;
  width: 55%;
  padding-left: 24%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.main-fifth-cnt {
  margin-top: 20px;
  display: flex;
  gap: 3rem;
  padding-left: 27%;
}

.reverse-comp-cnt {
  display: flex;
}

.main-fifth-cnt-firstPart {
  display: flex;
  gap: 20rem;
}
