.main-header-cnt {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 31%;
  height: 100px;
}

.main-journey {
  padding-bottom: 5%;
}

.main-first-cnt {
  display: flex;
  max-width: 100%;
  width: 55%;
  padding-left: 3%;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.main-second-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-left: 25%;
}

.main-third-cnt {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-right: 15%;
  gap: 2rem;
  margin-top: 20px;
}
